*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #090d19;
    text-align: center;
    width: 100%;
    align-content: center;
}
ul{
    list-style: none;
}
body{
    font-family: 'Open Sans Condensed', sans-serif;
}
.nav {
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    float: right;
    list-style: none;
    background-color: #090d19;
    text-align: center;
    width: 100%;
    text-align: center;
}
.nav > li {
    float: left;
}

.nav li a {
    font-family: 'Titillium Web', sans-serif;
    background-color:#090d19;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    color: tomato;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:200px;
}
.nav li:hover > ul {
    display:block;
}
.nav li ul li {
    position:relative;
}
body{
    background-image: url("IMG/fondo.jpg");
    background-color: white;
    background-repeat: repeat;
}
#bannerInicio{
    background-color: black;
}
#h2Inicio{
    font-family: 'Titillium Web', sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
}
.h3Titulo{
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    color: black;
    text-align: center;
    margin: 2%;
    font-size: 2rem;
}
.listado{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}
.flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
}
.buttonComprar{
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 2%;
    text-transform: uppercase;
    font-weight: bold;
    margin: 2%;
}
article{
    width: 200px;
    text-align: center;
    flex-grow: 1;
}
.footer{
    background-color: #090d19;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    color: white;
    padding: 3%;
}
.form{
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    padding: 3%;
    margin-bottom: 3%;
}
fieldset{
    padding: 3%;
}
legend{
    font-weight: bold;
    text-transform: uppercase;
}
.grid{
    display: grid;
    border: 1;
    border-color: black;
    flex: 1;
    align-content: center;
    text-align: center;
    background-color: #fff;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, 1fr);  
    gap: 0px 0px; 
    grid-template-areas: 
    "a b"
    "a c"
    "a d"
    "e e";
}
.foto{
    grid-area: a;
    height: min-content;
}
.juego{
    width: 250px;
    text-align: center;
    flex-grow: 1;
}
.tituloJuego{
    text-align: left;
    grid-area: b;
    font-size: 2rem;
    text-align: center;
}
.valoracion{
    grid-area: d;
    text-align: center;
    align-content: center;
}
.infoJuego{
    grid-area: c;
    align-content: center;
}
.historiaJuego{
    grid-area: e;
}
.resumenJuego{
    width: 100%;
    text-align: center;
}